<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Daily Journal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/about.css"> <!-- Create a new CSS file for the About Us page -->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Bloggers.</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li id="home"><a href="/">HOME</a></li>
                    <li id="about"><a href="/about">ABOUT US</a></li>
                    <li id="contact"><a href="/contact">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </nav> 

    <div class="container-inner">
        <div>
            <h1 class="title">About Us</h1>
        </div>
        <div class="about-content">
            <div class="about-text">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut doloribus deleniti quaerat voluptas id obcaecati accusamus nobis eveniet quibusdam est, eligendi magni deserunt a commodi suscipit corporis alias aspernatur perspiciatis!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab debitis cum voluptatibus error molestias similique ipsam rem provident aperiam molestiae, non ex dolores illo quibusdam magni, rerum dolore, asperiores reiciendis.</p>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia repellendus corporis laudantium repudiandae, odit iste quae, molestiae alias optio maxime vero dolorem tempore assumenda sequi voluptas fuga. Similique, veritatis ipsum?</p>
            </div>
            <div class="about-image">
                <img src="https://1000logos.net/wp-content/uploads/2020/08/Blogger-Logo.jpg" alt="Team Photo">
            </div>
        </div>
        <a href="/"><button class='btn-red'>Back to Home</button></a>

    </div>
</body>

</html>
